* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

html {
  background-color: #010425;
  color: whitesmoke;
}


h1 {
  font-size: 3rem;
  padding-bottom: 2.5vh;
  width: 100%;
  text-align: center
}

a {
  color: white;
}

.centeredHeader {
  width: 100%;
  text-align: center;
  margin: 25px 0px 25px 0px;
}

/* Navbar Component */

.navbarLinks {
  display: flex;
  width: 100vw;
  height: 5vh;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%;
}

/* Landing Page */

.LandingPageHero {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20vh;
}

/* Project Page */

.ProjectsContainer {
  width: 98vw;
  margin: 0 1vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Project {
  width: 45%;
}

.Project * {
  margin-bottom: 10px;
}

.Project a {
  margin-bottom: 10px;
}

.Project p {
  font-style: italic;
}

.Project ul {
  margin-left: 15px;
}

.projectPic {
  width: 95%;
  height: 40%;
  margin: 2.5%;
  border-radius: 10px;
}

/* Skills Page */

.skillContainer {
  width: 84vw;
  margin: 0 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.skill {
  width: 15%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill img {
  width: 50px;
  height: 50px;
  margin: 2% 10%;
}

.certificatesContainer {
  width: 96vw;
  margin: 0 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.certificate {
  width: 30%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.certificateImg {
  height: auto;
  width: 100%;
}

/* About Page */

.aboutMeP {
  width: 90%;
  margin: 20px 5%;
}

.profilePic {
  height: 60vh;
  width: auto;
  margin: 0 40%;
  border-radius: 400px
}

.ExperienceContainer {
  width: 96vw;
  margin: 0 2vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Experience {
  width: 90%;
  margin: 20px 5%;
}

.Experience * {
  margin-bottom: 10px;
}

.Experience p {
  font-style: italic;
}

.Experience ul {
  margin-left: 15px;
}

/* Contact Page */

.contactHero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10% 30%;
  height: 200px;
  width: 40%;
}