* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

html {
  background-color: #010425;
  color: whitesmoke;
}


h1 {
  font-size: 3rem;
  padding-bottom: 2.5vh;
  width: 100%;
  text-align: center
}

/* Navbar Component */

.navbarLinks {
  display: flex;
  width: 100vw;
  height: 5vh;
  justify-content: space-around;
  align-items: center;
}

/* Landing Page */

.LandingPageHero {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15vh;
}

/* Project Page */

.ProjectsContainer {
  width: 98vw;
  margin: 0 1vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Project {
  width: 45%;
}

.Project * {
  margin-bottom: 10px;
}

.Project a {
  margin-bottom: 10px;
}

.Project p {
  font-style: italic;
}

.Project ul {
  margin-left: 15px;
}

.projectPic {
  width: 95%;
  margin: 2.5%;
  border-radius: 10px;
}


/* About Page */

.aboutMeP {
  width: 90%;
  margin: 20px 5%;
}

#ExperienceHeader {
  width: 100%;
  text-align: center;
  margin: 25px 0px 25px 0px;
}

.ExperienceContainer {
  width: 96vw;
  margin: 0 2vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Experience {
  width: 90%;
  margin: 20px 5%;
}

.Experience * {
  margin-bottom: 10px;
}

.Experience p {
  font-style: italic;
}

.Experience ul {
  margin-left: 15px;
}

/* Contact Page */

.contactHero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10% 30%;
  height: 200px;
  width: 40%;
}